    <!-- ==========================
      HEADER - END 
    =========================== -->
    
    <!-- ==========================
      JUMBOTRON - START 
    =========================== -->
    <section class="jumbotron jumbotron2">
      <div class="container">
            <h2>WELCOME TO Roxie<small>Modern. Clean. Responsive.</small></h2>
        </div>
    </section> 
    <!-- ==========================
      JUMBOTRON - END 
    =========================== -->
          
    <!-- ==========================
      SERVICES - START 
    =========================== -->
    <section class="content product-content">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <img src="/assets/image/showcase1.png" class="img-responsive" alt="">
                </div>
                <div class="col-md-6">
                  <h2>First class design</h2>
                    <p>Phasellus fringilla neque diam, eget elementum libero eleifend ac. Morbi condimentum metus felis, pellentesque iaculis sapien egestas imperdiet. Curabitur in lacus at ante elementum mollis. Duis ultrices, nunc consequat feugiat faucibus, neque nulla gravida eros, et scelerisque urna ante eu libero. Donec tincidunt nibh a ultrices venenatis. Curabitur malesuada sem porttitor ullamcorper gravida.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="content product-content">
      <div class="container">
            <div class="row">
                <div class="col-md-6">
                  <h2>100% Responsive</h2>
                    <p>Phasellus fringilla neque diam, eget elementum libero eleifend ac. Morbi condimentum metus felis, pellentesque iaculis sapien egestas imperdiet. Curabitur in lacus at ante elementum mollis. Duis ultrices, nunc consequat feugiat faucibus, neque nulla gravida eros, et scelerisque urna ante eu libero. Donec tincidunt nibh a ultrices venenatis. Curabitur malesuada sem porttitor ullamcorper gravida.</p>
                </div>
                <div class="col-md-6">
                  <img src="/assets/image/showcase6.png" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="content product-content">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <img src="/assets/image/showcase8.png" class="img-responsive" alt="">
                </div>
                <div class="col-md-6">
                  <h2>Modern Technologies</h2>
                    <p>Phasellus fringilla neque diam, eget elementum libero eleifend ac. Morbi condimentum metus felis, pellentesque iaculis sapien egestas imperdiet. Curabitur in lacus at ante elementum mollis. Duis ultrices, nunc consequat feugiat faucibus, neque nulla gravida eros, et scelerisque urna ante eu libero. Donec tincidunt nibh a ultrices venenatis. Curabitur malesuada sem porttitor ullamcorper gravida.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========================
      SERVICES - END 
    =========================== -->
    
    <!-- ==========================
      TESTIMONIALS - START 
    =========================== -->
    <section class="content content-separator" id="section-testimonials">
        <div class="container">
          <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div id="testimonials-slider" class="owl-carousel owl-theme">       
                        <div class="item">
                            <i class="fa fa-quote-left"></i>
                            <p>Phasellus fringilla neque diam, eget elementum libero eleifend ac. Morbi condimentum metus felis, pellentesque iaculis sapien egestas imperdiet. Curabitur in lacus at ante elementum mollis.</p>
                          <h3>John Doe <small>[CEO]</small></h3>
                        </div>
                        
                        <div class="item">
                            <i class="fa fa-quote-left"></i>
                            <p>Phasellus fringilla neque diam, eget elementum libero eleifend ac. Morbi condimentum metus felis, pellentesque iaculis sapien egestas imperdiet. Curabitur in lacus at ante elementum mollis.</p>
                          <h3>John Doe <small>[Designer]</small></h3>
                        </div>
                        
                        <div class="item">
                            <i class="fa fa-quote-left"></i>
                            <p>Phasellus fringilla neque diam, eget elementum libero eleifend ac. Morbi condimentum metus felis, pellentesque iaculis sapien egestas imperdiet. Curabitur in lacus at ante elementum mollis.</p>
                          <h3>John Doe <small>[Developer]</small></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========================
      TESTIMONIALS - END 
    =========================== -->
    
    <!-- ==========================
      PRICING - START 
    =========================== -->
    <section class="content" id="pricing">
      <div class="container">
          <h2 class="text-center">Choose Your Best Plan</h2>
            <div class="row">
              
                <!-- Pricing plan -->
              <div class="col-sm-4">
                  <div class="pricing-plan">
                        <h3>Basic</h3>
                        <div class="pricing-plan-price">
                          <span class="pricing-plan-small">$</span>
                          <span class="pricing-plan-number">29</span>
                            <span class="pricing-plan-small">.99</span>
                            <span class="pricing-plan-text">per month</span>
                        </div>
                        <ul class="list-unstyled">
                          <li><i class="fa fa-save"></i><b>100 GB</b> Storage</li>
                            <li><i class="fa fa-signal"></i><b>Unlimited</b> Traffic</li>
                            <li><i class="fa fa-flash"></i><b>Unlimited</b> Bandwidth</li>
                            <li><i class="fa fa-check"></i>Custom Domain</li>
                            <li><i class="fa fa-user"></i>24/7 Support</li>
                        </ul>
                        <a href="#" class="btn btn-lg btn-primary">Sign Up</a>
                    </div>
                </div>
                
                <!-- Pricing plan -->
              <div class="col-sm-4">
                  <div class="pricing-plan popular">
                        <h3>Standard</h3>
                        <p>Most Popular</p>
                        <div class="pricing-plan-price">
                          <span class="pricing-plan-small">$</span>
                          <span class="pricing-plan-number">29</span>
                            <span class="pricing-plan-small">.99</span>
                            <span class="pricing-plan-text">per month</span>
                        </div>
                        <ul class="list-unstyled">
                          <li><i class="fa fa-save"></i><b>100 GB</b> Storage</li>
                            <li><i class="fa fa-signal"></i><b>Unlimited</b> Traffic</li>
                            <li><i class="fa fa-flash"></i><b>Unlimited</b> Bandwidth</li>
                            <li><i class="fa fa-check"></i>Custom Domain</li>
                            <li><i class="fa fa-user"></i>24/7 Support</li>
                        </ul>
                        <a href="#" class="btn btn-lg btn-primary">Sign Up</a>
                    </div>
                </div>
                
                <!-- Pricing plan -->
              <div class="col-sm-4">
                  <div class="pricing-plan">
                        <h3>Premium</h3>
                        <div class="pricing-plan-price">
                          <span class="pricing-plan-small">$</span>
                          <span class="pricing-plan-number">29</span>
                            <span class="pricing-plan-small">.99</span>
                            <span class="pricing-plan-text">per month</span>
                        </div>
                        <ul class="list-unstyled">
                          <li><i class="fa fa-save"></i><b>100 GB</b> Storage</li>
                            <li><i class="fa fa-signal"></i><b>Unlimited</b> Traffic</li>
                            <li><i class="fa fa-flash"></i><b>Unlimited</b> Bandwidth</li>
                            <li><i class="fa fa-check"></i>Custom Domain</li>
                            <li><i class="fa fa-user"></i>24/7 Support</li>
                        </ul>
                        <a href="#" class="btn btn-lg btn-primary">Sign Up</a>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- ==========================
      PRICING - END 
    =========================== -->
        
    <!-- ==========================
      STATISTICS - START 
    =========================== -->
    <section class="content content-separator" id="section-statistics">
        <div class="container">
          <div class="row">
                <div class="col-md-3">
                    <div class="statistic">
                        <div class="number" data-from="2200" data-to="2780" data-refresh-interval="100"></div>
                        <div class="title">Clients</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="statistic">
                      <div class="number" data-from="2200" data-to="2780" data-refresh-interval="100"></div>
                        <div class="title">Clients</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="statistic">
                      <div class="number" data-from="2200" data-to="2780" data-refresh-interval="100"></div>
                        <div class="title">Clients</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="statistic">
                      <div class="number" data-from="2200" data-to="2780" data-refresh-interval="100"></div>
                        <div class="title">Clients</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========================
      STATISTICS - END 
    =========================== -->

